
/* main */
.titulo{
    padding-left: 20px;
}

.library {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}


/* Estilização dos cards */
.novel-card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    position: relative; /* Adicionado */
    margin-bottom: 20px;
}

.novel-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.novel-card img {
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.card-details {
    flex: 1; /* Adicionado */
    padding: 20px;
}

.card-details h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
}

.card-details p {
    margin: 0;
    color: #666;
    font-size: 14px;
}

.card-details .genre {
    margin-bottom: 20px;
}

.read-button {
    position: absolute; /* Adicionado */
    bottom: 10px; /* Adicionado */
    right: 10px; /* Adicionado */
    background-color: #261E5A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-button:hover {
    background-color: #261E5A;
}
