

/* main */
.library {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
}


/* Estilização dos cards */
.novel-card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    position: relative; /* Adicionado */
}

.novel-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.novel-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card-details {
    flex: 1; /* Adicionado */
    padding: 20px;
}

.card-details h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
}

.card-details p {
    margin: 0;
    color: #666;
    font-size: 14px;
}

.card-details .genre {
    margin-bottom: 20px;
}

.read-button {
    position: absolute; /* Adicionado */
    bottom: 20px; /* Adicionado */
    right: 20px; /* Adicionado */
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-button:hover {
    background-color: #45a049;
}

