main {
    height: 100vh;
}

/* Seção de perfil */
.profile {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.profile h2 {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.profile-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.avatar {
    margin-right: 1em;
    
}

.avatar img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

.user-details h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.user-activity {
    background-color: #fff;
    padding: 1.5em;
    margin-top: 1.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-activity h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.user-activity ul {
    list-style-type: none;
    padding: 0;
}

.user-activity li {
    margin-bottom: 0.5em;
    font-size: 1em;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .profile-content {
        flex-direction: column;
        align-items: center;
    }

    .avatar {
        margin-right: 0;
        margin-bottom: 1em;
    }

    .avatar img {
        width: 4em;
        height: 4em;
    }
}
